.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.currImg,
.nextImg {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  position: absolute;
  background-color: #fff;
}

.currImg {
  z-index: 2;
}

.nextImg {
  z-index: 1;
}

.animImg {
  animation: fade-out ease-in-out 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
